@font-face {
  font-family: "Poppins-Regular";
  src: url("@/static/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("@/static/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("@/static/fonts/Poppins-Light.ttf");
}
