// Colors
$primary-color: #0a5700;
$secondary-color: #052c00;
$primary-text-color: #292929;
$border-color: #ccc;
$white: #FFF;
$not-found: #740000;

// Fonts
$bold-font: "Poppins-Bold";
$regular-font: "Poppins-Regular";
$light-font: "Poppins-Light";
